<?xml version="1.0" ?>

<robot name="mrm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- BGN - Include -->
  <xacro:include filename="$(find manipulator1ver)/urdf/links_joints.xacro" />
  <!-- END - Include -->
  
    <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  
  <!-- BGN - Robot description -->
  <m_link_mesh name="link_00"
              origin_rpy="1.57 0 0" origin_xyz="0 0 0"
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://manipulator1ver/meshes/stlGrab/0ServoGrabBase.stl"
              meshscale="0.001 0.001 0.001" />
			  
              
  <m_joint name="Base" type="revolute"
           axis_xyz="0 0 1"
           origin_rpy="0 0 0" origin_xyz="0 0 0.0619"
           parent="link_00" child="link_01"
           limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />
           

  <m_link_mesh name="link_01"
              origin_rpy="1.57 0 0" origin_xyz="0 0 0"
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://manipulator1ver/meshes/stlGrab/1ServoGrab.stl"
              meshscale="0.001 0.001 0.001" />

 
  <m_joint name="1stick" type="revolute"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0" origin_xyz="0 0 0.058"
           parent="link_01" child="link_02"
           limit_e="1000" limit_l="-1.57" limit_u="1.57" limit_v="0.5" />			
		   
  
    <m_link_mesh name="link_02"
              origin_rpy="1.57 0 0" origin_xyz="0 0 -0.013"
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://manipulator1ver/meshes/stlGrab/2ServoGrab.stl"
              meshscale="0.001 0.001 0.001" />

			  
		  
  <m_joint name="2stick" type="revolute"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0" origin_xyz="0 0.0309 0.164"
           parent="link_02" child="link_03"
           limit_e="1000" limit_l="-1.57" limit_u="1.57" limit_v="0.5" />			
		   
  
    <m_link_mesh name="link_03"
              origin_rpy="1.57 0 0" origin_xyz="0 -0.0139 -0.0203"
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://manipulator1ver/meshes/stlGrab/3ServoGrab.stl"
              meshscale="0.001 0.001 0.001" />	

  <m_joint name="3to4" type="revolute"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0" origin_xyz="0  0.1597 0"
           parent="link_03" child="link_04"
           limit_e="1000" limit_l="-1.57" limit_u="1.57" limit_v="0.5" />			
		   
  
    <m_link_mesh name="link_04"
              origin_rpy="1.57 0 0" origin_xyz="0 -0.014 -0.014" 
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://manipulator1ver/meshes/stlGrab/4ServoGrab.stl"
              meshscale="0.001 0.001 0.001" />
			  
<!-- GRAB -->		
		
  <m_joint name="GrabR" type="prismatic"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0" origin_xyz="0.038 0.0855 -0.011"
           parent="link_04" child="link_05"
           limit_e="1000" limit_l="-0.02" limit_u="0" limit_v="0.5" />			
		   
  
    <m_link_mesh name="link_05"
              origin_rpy="1.57 0 0" origin_xyz="0 0 0" 
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://manipulator1ver/meshes/stlGrab/5ServoGrab.stl"
              meshscale="0.001 0.001 0.001" />
	
	
  <m_joint name="Grabl" type="prismatic"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0" origin_xyz="-0.038 0.0855 0.017"
           parent="link_04" child="link_06"
           limit_e="1000" limit_l="0" limit_u="0.02" limit_v="0.5" />			
		   
  
    <m_link_mesh name="link_06"
              origin_rpy="1.57 3.14 0" origin_xyz="0 0 0" 
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://manipulator1ver/meshes/stlGrab/5ServoGrab.stl"
              meshscale="0.001 0.001 0.001" />
	
  <m_joint name="world" type="fixed"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0" origin_xyz="0 0 0"
           parent="link_00" child="objects"
           limit_e="1000" limit_l="0" limit_u="0.02" limit_v="0.5" />		

<m_link_mesh name="objects"
              origin_rpy="1.57 0 0" origin_xyz="0 0 0"
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://manipulator1ver/meshes/Objects/OnGlass.stl"
              meshscale="0.001 0.001 0.001" />

  <!-- END - Robot description -->
  
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>
  
</robot>
