<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="link_00" value="0ServoGrabBase" />
  <xacro:property name="link_01" value="1ServoGrab" />
  <xacro:property name="link_02" value="2ServoGrab" />
  <xacro:property name="link_03" value="3ServoGrab" />
  <xacro:property name="link_04" value="4ServoGrab" />
  <xacro:property name="link_05" value="5ServoGrab" />
  <xacro:property name="link_06" value="link_06" />
  <xacro:property name="link_07" value="link_07" />
  <xacro:property name="link_08" value="link_08" />
</robot>
